#popup__toggle {
  bottom: 25px;
  right: 10px;
  position: fixed;
  z-index: 999;
}
.img-circle {
  background-color: #29aee3;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #29aee3;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: 0.5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #29aee3;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 35px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
}
.img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  background-image: url(../image/phone1.png);
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.img-circle:hover {
  opacity: 1;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
}
@keyframes tossing {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(-8deg);
  }
}
@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    -o-opacity: 0.1;
  }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    -o-opacity: 0.5;
  }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    -o-opacity: 0.1;
  }
}
@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: 0.1;
  }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: 0.5;
  }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: 0.1;
  }
}
@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in 0s;
}
.popup {
  top: 50%;
  left: 0;
  right: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  max-width: 210px;
  position: fixed;
  padding: 15px 20px;
  padding-right: 34px;
  border: 1px solid #666;
  background-color: #fefefe;
  z-index: 1000;
  border-radius: 10px;
  font: 14px/18px "Tahoma", Arial, sans-serif;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
  border: 1.5px solid #5b5e6f;
  background: linear-gradient(
    90deg,
    #aaaab0 0%,
    rgba(103, 103, 103, 0.79) 91.66%
  );
  filter: drop-shadow(12px -8px 4px rgba(0, 0, 0, 0.25));
}
.close {
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: rgba(247, 247, 247, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}
.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
  background-color: rgba(180, 20, 14, 0.8);
}
.modalinput {
  margin-bottom: 10px;
}
